.product {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  max-height: 400px;
  z-index: 1;
}

.product > img {
  width: 100%;
  object-fit: contain;
  max-height: 200px;
  margin-bottom: 15px;
  height: 200px;
}

.product__info {
  height: 108px;
  margin-bottom: 20px;
}

.product__price {
  margin-top: 5px;
}
.product > button {
  background-color: #f8c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding: 2px 5px;
}
.prodact__rating {
  display: flex;
}
.product__addToBasket {
  cursor: pointer;
}
