.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout__title {
  margin-right: 10px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.checkout_empty > h2,
.checkout_empty > h3 {
  text-align: center;
}
.checkout_empty > h3 {
  margin-top: 20px;
}
@media screen and (max-width: 900px) {
  .checkout {
    flex-direction: column;
  }
  .checkout__right {
    order: -1;
    width: 100%;
  }
  .checkout__ad {
    display: none;
  }
}
